.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container__list {
  margin: 68px 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 54px;
}

@media screen and (max-width: 769px) {
  .card-container__list {
    margin: 80px 30px 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 45px;
  }
}

@media screen and (max-width: 450px) {
  .card-container__list {
    margin: 80px 30px 0;
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}
