.promo {
  margin: 20px 40px 0;
  border-radius: 10px;
  background: #272727;

  display: grid;
}

.promo__navigation {
  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
}

.promo__header {
  margin: 160px 235px 151px;
  color: #FFF;

  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
