.page-not-found {
  display: flex;
  flex-direction: column;
}

.page-not-found__number {
  margin: 246px auto 0;

  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-not-found__text {
  margin: 5px auto 0;

  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-not-found__link {
  margin: 184px auto 0;
  text-decoration: none;

  color: #4285F4;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
