.about-project {
  padding: 115px 0 0;
  margin: 0 70px 0;
}

.about-project__header {
  margin: 0 0 70px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  color: #FFF;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.about-project__description {
  padding: 0;
  margin: 0 0 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  grid-auto-flow: column;
  column-gap: 40px;
  row-gap: 26px;
}

.about-project__subtitle {
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__text {
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 1fr 4fr; 
}

.about-project__weeks {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  background: #3DDC84;
  color: #000;

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-project__weeks:last-of-type {
  background: #303030;
  color: #FFF;
}

.about-project__span {
  margin: 14px auto 110px;

  color: #8B8B8B;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 91px 0 0;
    margin: 0 50px 0;
  }
  .about-project__description {
    margin: 0 0 93px;
    column-gap: 32px;
    row-gap: 22px;
  }
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__span {
    margin: 14px auto 90px;
  }
}

@media screen and (max-width: 450px) {
  .about-project {
    padding: 70px 0 0;
    margin: 0 18px 0;

    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__header {
    margin: 0 0 60px;
    padding-bottom: 28px;
    
    font-size: 18px; 
    letter-spacing: -0.72px;
  }
  .about-project__description {
    margin: 0;
    grid-template-columns: 1fr; 
    grid-template-rows: 60px 104px 60px 108px;
    font-size: 11px;
    row-gap: 0; 
  }
  
  .about-project__subtitle {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  
  .about-project__text {
    color: #FFF;
    letter-spacing: 0;

    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .about-project__timeline {
    grid-template-columns: 1.1fr 2fr; 
  }
  .about-project__weeks {
    font-size: 11px;
  }
  .about-project__span {
    margin: 9px auto 110px;
    font-size: 11px;
    font-weight: 400;
  }
}