.techs {
  padding-top: 100px;
  background: #272727;

  display: grid;
}

.techs__header {
  margin: 0 70px 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;

  color: #FFF;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__subtitle {
  margin: 0 auto 26px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__text {
  margin: 0 auto 100px;
  max-width: 460px;
  color: #FFF;

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 0 auto 100px;
  display: flex;
  justify-content: center;
}

.techs__technology {
  width: 90px;
  height: 60px;
  margin: 0 10px 0 0;

  border-radius: 10px;
  background: #303030;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.techs__technology:last-child {
  margin: 0;
}


@media screen and (max-width: 760px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

